{
    "presets": [
        "es2015",
        "stage-3"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        ["transform-es2015-modules-commonjs", {
            "loose": true
        }]
    ],

    "moduleIds": false,
    "comments": true,
    "compact": false
}
